:root {
  --primary-color: #388149;
  --primary-color-dark: #347643;
  --secondary-color: #D2AC5D;
  --secondary-color-dark: #BF9D55;
  --light-color: #EBEBEB;
  --dark-color: #141414;
  --max-width: 1366px;  
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */

.container {
  max-width: var(--max-width);
  margin: auto;
  /* padding: 0 2rem; */
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Fonts and text */

@font-face {
  font-family: gotham;
  src: url(/fonts/Gotham-Ultra.otf);
  font-style: ultra;
  font-weight: 400;
}
@font-face {
  font-family: gotham;
  src: url(/fonts/Gotham-Black.otf);
  font-style: _black;
  font-weight: 300;
}
@font-face {
  font-family: gotham;
  src: url(/fonts/Gotham-Book.otf);
  font-style: book;
  font-weight: 200;
}
@font-face {
  font-family: gotham;
  src: url(/fonts/Gotham-Thin.otf);
  font-style: thin;
  font-weight: 100;
}


h1 {
  font-family: gotham;
  font-weight: 400;
  color: var(--light-color);
  font-size: 6rem;
}

h2 {
  font-family: gotham;
  font-weight: 300;
  color: var(--light-color);
  font-size: 3.6rem;
}

h3 {
  font-family: gotham;
  font-weight: 200;
  color: var(--light-color);
  font-size: 1.8rem;
}

p {
  font-family: gotham;
  font-weight: 100;
  color: var(--light-color);
  font-size: 1.8rem;
  /* display: inline-block;  */

}

body {
  line-height: 1.5;
  background: var(--light-color);
}

ul {
  list-style: none; /* Removes the dots */
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* Buttons */

.btn-primary {
  display: inline-block;
  font-family: gotham;
  font-weight: 200;
  font-size: 1.8rem;
  color: var(--light-color);
  background: var(--primary-color);
  border-radius: 3.6rem;
  padding: 8px 16px 6px 16px;
  margin: 15px 20px;
}

.btn-primary:hover {
  background: var(--primary-color-dark);
}

.btn-secondary {
  display: inline-block;
  font-family: gotham;
  font-weight: 200;
  font-size: 1.8rem;
  color: var(--secondary-color);
  background: transparent;
  border: solid 2px;
  border-radius: 3.6rem;
  padding: 8px 16px 6px 16px;
  margin: 15px 20px;
}

.btn-secondary:hover {
  color: var(--secondary-color-dark);
}

/* Navigation */

#main-nav {
  font-family: gotham;
  font-weight: 200;
  font-size: 1.8rem;
  grid-column: 1 / span 12;
  height: 7vh;

  /* Nav-bar consits of its own grid */
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  /* Center items in cell vertically */
  align-items: center; 
}


#main-nav .navbtn-ladies {
  color: var(--secondary-color);
  grid-column: 1 / span 2;
  text-transform: uppercase;
}

#main-nav .navbtn-ladies:hover {
  color: var(--secondary-color-dark);
}

#main-nav a {
  vertical-align: middle;
}

#main-nav p {
  grid-column: 4 / span 6;
  text-align: center;
}

#main-nav ul {
  grid-column: 10 / span 3;
  justify-self: end;
  display: flex; /* To place links next to each other instead of on top of */
}

#main-nav ul li a {
  margin: 2rem;
  color: var(--light-color);
}

#main-nav .navbtn-primary:hover {
  border-bottom: 2px solid var(--primary-color);
}

#main-nav .navbtn-secondary:hover {
  border-bottom: 2px solid var(--secondary-color);
}

#main-nav ul li .hamburger-menu {
  font-size: 3.6rem;
  bottom: 0.6rem;
}

/* Hero object */

.hero {
  background: url('../img/ifb-modo.jpg') no-repeat center center/cover;
  height: 100vh; 
}

.hero-article {
  grid-column: 3 / span 8;
  grid-row: 2 / span 5;
  height: 77.5vh;
  padding-bottom: 15.5vh;
  overflow: hidden;

  /*Center the content in cell */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horisontellt */
  align-items: center; /* Vertikalt */  
}

.chevron-left {
  grid-column: 1 / span 2;
  grid-row: 2 / span 4;
  height: 62vh;
  opacity: 0.6;

  /* Center cell content */
  display: flex;
  justify-content: center; /* Horisontal */
  align-items: center; /* Vertical */
}

.chevron-right {
  grid-column: 11 / span 2;
  grid-row: 2 / span 4;
  height: 62vh;
  opacity: 0.6; 

  /* Center cell content */
  display: flex;
  justify-content: center; /* Horisontal */
  align-items: center; /* Vertical */
}

/* Icons */

.material-icons.md-48 { font-size: 4.8rem; }

/* Center icon with text */
.material-icons, .icon-text {
  vertical-align: middle;
}

/* Center icon with text */
.icon-align-to-text {
  position:relative;
  bottom:0.2rem;
} 
