:root {
  --primary-color: #388149;
  --primary-color-dark: #347643;
  --secondary-color: #D2AC5D;
  --secondary-color-dark: #BF9D55;
  --light-color: #EBEBEB;
  --light-color-menu: #C2C2C2;
  --dark-color: #141414; /* 87% high emphasis */
  --dark-color-medium: #575757; /* 60% medium emphasis */
  --dark-color-disabled: #8F8F8F; /* 38% disabled */
  
  
  --max-width: 1366px;  
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Utility */

.container {
  max-width: var(--max-width);
  margin: auto;
  /* padding: 0 2rem; */
  overflow: hidden;
}

footer .flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}


/* Fonts and text */

@font-face {
  font-family: gotham;
  src: url(/fonts/Gotham-Ultra.otf);
  font-style: ultra;
  font-weight: 400;
}

@font-face {
  font-family: gotham;
  src: url(/fonts/Gotham-Black.otf);
  font-style: _black;
  font-weight: 300;
}

@font-face {
  font-family: gotham;
  src: url(/fonts/Gotham-Medium.otf);
  font-style: medium;
  font-weight: 250;
}

@font-face {
  font-family: gotham;
  src: url(/fonts/Gotham-Book.otf);
  font-style: book;
  font-weight: 200;
}
@font-face {
  font-family: gotham;
  src: url(/fonts/Gotham-Thin.otf);
  font-style: thin;
  font-weight: 100;
}

h1 {
  font-family: gotham;
  font-weight: 400;
  color: var(--light-color);
  font-size: 6rem;
  letter-spacing: 0.4rem;
}

h2 {
  font-family: gotham;
  font-weight: 300;
  color: var(--light-color);
  font-size: 3.6rem;
}

h3 {
  font-family: gotham;
  font-weight: 200;
  color: var(--light-color);
  font-size: 1.8rem;
}

p {
  font-family: gotham;
  font-weight: 100;
  color: var(--light-color);
  font-size: 1.8rem;
  /* display: inline-block;  */

}

body {
  line-height: 1.5;
  background: var(--light-color);
}

ul {
  list-style: none; /* Removes the dots */
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* Buttons */

.btn-primary {
  display: inline-block;
  font-family: gotham;
  font-weight: 200;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: var(--light-color);
  background: var(--primary-color);
  border-radius: 3.6rem;
  padding: 8px 16px 6px 16px;
  margin: 30px 20px 10px 20px;
}

.btn-primary:hover {
  background: var(--primary-color-dark);
}

.btn-secondary {
  display: inline-block;
  font-family: gotham;
  font-weight: 200;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: var(--secondary-color);
  background: transparent;
  border: solid 2px;
  border-radius: 3.6rem;
  padding: 8px 16px 6px 16px;
  margin: 30px 20px 10px 20px;
}

.btn-secondary:hover {
  color: var(--secondary-color-dark);
}

/* Backgrounds */

.index-bg {
  display: flex;
  /* text-align: center; */
  align-items: center;
}

.index-bg-1 {
  width: 50vw;
  height: 100vh;
  background: url('../img/ladies-calm.png') no-repeat center center/cover;

  /*Center the content in cell */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horisontellt */
  align-items: center; /* Vertikalt */  
  padding-bottom: 30vh;

}

.index-bg-2 {
  width: 50vw;
  height: 100vh;
  background: url('../img/mens-calm.png') no-repeat center center/cover;

  /*Center the content in cell */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horisontellt */
  align-items: center; /* Vertikalt */ 
  
  padding-bottom: 30vh;
}

.mens-bg {
  background: url('../img/ifb-modo.png') no-repeat center center/cover;
  height: 100vh; 
}

.ladies-bg {
  background: url('../img/ifb-modo-ladies.png') no-repeat center center/cover;
  height: 100vh; 
}

#statistics-bg {
  background: url('../img/smguld.png') no-repeat center center/cover;
  height: 100vh;
}

/* Navigation */

#main-nav {
  font-family: gotham;
  font-weight: 200;
  font-size: 1.8rem;
  grid-column: 1 / span 12;
  height: 7vh;

  /* Nav-bar consits of its own grid */
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  /* Center items in cell vertically */
  align-items: center; 
}

#main-nav .navbtn-ladies {
  color: var(--secondary-color);
  grid-column: 1 / span 3;
  text-transform: uppercase;
  margin-left: 1.6rem;
}

#main-nav .navbtn-ladies:hover {
  color: var(--secondary-color-dark);
}

#main-nav a {
  vertical-align: middle;
}

#main-nav p {
  grid-column: 4 / span 6;
  text-align: center;
  margin-bottom: 0.8rem;
}

#main-nav ul {
  grid-column: 10 / span 3;
  display: flex; /* To place links next to each other instead of on top of */
  justify-content: flex-end;  
}

#main-nav ul li a {
  margin: 4rem;
  margin-right: 1.6rem; /* The link to the far right should be at the end of container */
  color: var(--light-color);
}

#main-nav .navbtn-primary:hover {
  border-bottom: 2px solid var(--primary-color);
}

#main-nav .navbtn-secondary:hover {
  border-bottom: 2px solid var(--secondary-color);
}

#main-nav  .hamburger-menu {
  font-size: 3.6rem;
  bottom: 0.6rem;
}


/* Ladies/mens first page */

.hero-article {
  grid-column: 3 / span 8;
  grid-row: 2 / span 5;
  height: 77.5vh;
  padding-bottom: 15.5vh;
  overflow: hidden;
  text-align: center;

  /*Center the content in cell */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horisontellt */
  align-items: center; /* Vertikalt */  
}

.chevron-left {
  grid-column: 1 / span 2;
  grid-row: 2 / span 4;
  height: 62vh;
  opacity: 0.6;

  /* Center cell content */
  display: flex;
  justify-content: center; /* Horisontal */
  align-items: center; /* Vertical */
}

.chevron-right {
  grid-column: 11 / span 2;
  grid-row: 2 / span 4;
  height: 62vh;
  opacity: 0.6; 

  /* Center cell content */
  display: flex;
  justify-content: center; /* Horisontal */
  align-items: center; /* Vertical */
}


/* Hamburger menu */

#menu {
  font-family: gotham;
  font-weight: 400;
  font-size: 6rem;
  color: var(--light-color);
  height: 84.5vh;
  grid-column: 1 / span 12;

  /* Center cell content */
  display: flex;
  justify-content: center; /* Horisontal */
  align-items: center; /* Vertical */
  text-align: center;

  padding-bottom: 10vh;
}

#menu-nav {
  font-family: gotham;
  font-weight: 200;
  font-size: 1.8rem;
  color: var(--light-color);
  grid-column: 12 / span 1;
  height: 7vh;
  margin-right: 1.6rem;

  /* Center cell content */
  display: flex;
  justify-content: flex-end; /* Horisontal */
  align-items: center; /* Vertical */
  text-align: center;
  }

#menu ul li a {
  color: var(--light-color-menu);
  letter-spacing: 0.4rem;
}

#menu ul li a:hover {
  color: var(--light-color);
}

/* Index page */

input[type=checkbox] + label {
  color: var(--light-color);
  font-family: gotham;
  font-weight: 200;
  font-size: 1.4rem;
  padding: 6px;
  
  display: block;
  margin: 0.2em;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before{
  content: "\2714";
  /* border: 0.1em solid var(--light-color); */
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.1em;
  padding-bottom: 0.2em;
  padding-right: 0.1em;
  margin-right: 0.5em;
  /* vertical-align: bottom; */
  color: transparent;
  background-color: var(--light-color);
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}


input[type=checkbox]:checked + label:before {
  background-color: var(--primary-color);
  color: var(--light-color);
}



audio {
  position: absolute;
  top: 16px;
  left: 38vw;
}

/* Icons */

.material-icons.md-48 { font-size: 4.8rem; }

.material-icons.md-36 { font-size: 3.6rem; }


/* Center icon with text */
.material-icons, .icon-text {
  vertical-align: middle;
}

/* Center icon with text */
.icon-align-to-text {
  position:relative;
  bottom:0.1rem;
} 

.back-menu {
  color: var(--light-color);
  font-size: 3.6rem;
  bottom: 0.6rem;
}


/* Statistics */
#statistics h3 {
  color: var(--secondary-color);
}

.statistics-menu {
  grid-column: 1 / span 12;
  grid-row: 1;
  height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertikalt */
  margin: 4rem 0 6rem 0; 
}

.statistics-menu ul {
  display: flex; /* To place links next to each other instead of on top of */
  justify-content: flex-end;
}

.statistics-menu ul li {
  margin: 4rem;
}


#statistics table {
  font-family: gotham;
  grid-column: 2 / span 10;
  grid-row: 2 / span 10;
  border-collapse: collapse;
}

#statistics th{
  color: var(--secondary-color);
  font-weight: 250;
  font-size: 1rem;
}

#statistics td {
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: 250;
  text-align: center;
  padding: 0.7rem 0;
}

#statistics td.ifb {
  color: var(--secondary-color);
}

#statistics td.left-align {
  text-align: left;
  padding: 0;
}

#statistics td.points {
  color: var(--secondary-color);
}

#statistics td.ranking {
  width: 4rem;
}

#statistics tr.border {
  border-bottom: 1px solid rgba(235, 235, 235, 0.1);;
}

#statistics tr:hover {
  background: rgba(235, 235, 235, 0.05);
}

#statistics tr:hover:first-child {
  background: transparent;
}


/* Footer */

footer {
  /* display: flex; */
  /* height: 20vh; */
  /* width: 100vw; */
  background: var(--dark-color);
  color: var(--light-color);
  /* align-items: flex-end; */
}

footer h3 {
  font-weight: 250;
}

footer .footer-column {
  width: 100%;
  padding: 3vh 0;
  /* border-top: rgba(235, 235, 235, 0.05) 1.5px solid; */

  display: flex;
  flex-direction: column;
  align-items: center; /* Vertikalt */  
}

.footer-column ul li a{
  color: var(--light-color);
  font-family: gotham;
  font-weight: 200;
  font-size: 1.2rem;
  
}

input[type=submit] {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: transparent;
  padding: 3px;
  border-radius: 2px;
}

input[type=text] {
  border-radius: 2px;
  border: transparent;
  background-color: var(--light-color);
  padding: 3px;
}